  <head>
    <meta charset="utf-8">
    <title>Compra/Venta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <div class="container">

    <h2>Paso 01: Construye tu inversion</h2>
    <form class="" action="index.html" method="post">

      <div class="form-group">
        <label for="dropdownOperacion">Tipo de operacion</label>
        <select class="form-control" id="operationType">
          <option selected>Selecciona un tipo de operacion</option>
          <option value="Comprar">Comprar</option>
          <option value="Vender">Vender</option>
        </select>
      </div>
      <div class="container" id="inputContainer" disabled>

      <div class="form-group">
        <label for="selectAction">¿Que necesitas hacer?</label>
        <select class="form-control" id="purchaseOptions" disabled>
          <option selected>Selecciona una opcion</option>
          <option value="Incrementar inversion">Incrementar inversion</option>
          <option value="Nuevo fondo">Nuevo fondo</option>
        </select>
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="radio" aria-label="Selecciona por contrato" id="contractRadio" disabled>
            <span>Seleccina por contrato</span>
          </div>
          <div class="input-group-text">
            <input type="radio" aria-label="Selecciona por producto" id="productRadio" disabled>
            <span>Selecciona por producto</span>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group">
          <label for="selectContrato">Selecciona un contrato</label>
          <select class="form-control" id="contractSelector" disabled>
            <%for(var i=0; i<clientData.contratos.length; i++){%>
              <option value=<%=i%>><%=clientData.contratos[i].noContrato%></option>
            <%}%>
          </select>
        </div>
        <div class="form-group">
          <label for="selectFI">Selecciona tu fondo de inversion</label>
          <select class="form-control" id="productSelectorClient" disabled>
              <%for(var i=0; i<clientData.contratos.length; i++){%>
                <option value=<%=i%>><%=clientData.contratos[i].nombreFondo%></option>
              <%}%>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="amountTitles">¿Cuantos titulos deseas vender?</label>
        <input type="number" id="amountTitles" name="amountTitles" min="1" max="<%=clientData.contratos[0].Titulos%>" value="0.00" step="1.0" disabled>
      </div>
  </div>

      <div class="form-group">
        <label for="selectFI">Selecciona un fondo de inversion</label>
        <select class="form-control" id="productSelector" disabled>
          <%for(var i=0; i<prodsList.length; i++){%>
              <option value=<%=i%>><%=prodsList[i].nombre%></option>
          <%}%>
        </select>
      </div>

      <div class="form-group">
        <label for="amountInput">¿Cuanto quieres invertir?</label>
        <input type="number" id="amount" name="amount" min="1" max="<%=clientData.saldo%>" value="0.00" step="1.0" disabled>
      </div>
    </form>

    <div class="card">
      <h3 class="card-title" id="nomProd"> Fondos de inversion</h3>
      <div class="card-body">
        <p> Descripcion: <span id="descProd"></span></p>
        <p> Horizonte de inversion: <span id="horInv"></span></p>
        <p> Nivel de riesgo:  <span id="riesgo"></span></p>
        <p> Rendimiento historico(3 meses): <span id="rend"></span>%</p>
      </div>
    </div>

    <button type="button" class="btn btn-primary" id="forwardB" onclick='location.href="#"' disabled>Continuar</button>
  </div>

<script type="text/javascript">

  var selectElement = document.querySelector('#operationType');
  selectElement.addEventListener('change',(event) => {
    if(selectElement.value == "Vender"){

      document.getElementById("contractRadio").disabled = false;
      document.getElementById("productRadio").disabled = false;

      document.getElementById("purchaseOptions").disabled = true;
      document.getElementById("productSelector").disabled = true;
      document.getElementById("amount").disabled = true;

    }else if(selectElement.value == "Comprar"){

      document.getElementById("purchaseOptions").disabled = false;

      document.getElementById("contractRadio").disabled = true;
      document.getElementById("productRadio").disabled = true;
      document.getElementById("productSelector").disabled = true;
      document.getElementById("contractSelector").disabled = true;
      document.getElementById("productSelectorClient").disabled = true;
      document.getElementById("amount").disabled = true;
      document.getElementById("amountTitles").disabled = true;

    }else{

      document.getElementById("purchaseOptions").disabled = true;
      document.getElementById("contractSelector").disabled = true;
      document.getElementById("contractRadio").disabled = true;
      document.getElementById("productRadio").disabled = true;
      document.getElementById("productSelector").disabled = true;
      document.getElementById("amount").disabled = true;
    }
  })

  var kindOperationSelector = document.querySelector('#purchaseOptions');
  kindOperationSelector.addEventListener('change',(event) => {
    if(kindOperationSelector.value == "Incrementar inversion"){
      document.getElementById("contractRadio").disabled = false;
      document.getElementById("productRadio").disabled = false;

      document.getElementById("contractSelector").disabled = true;
      document.getElementById("productSelector").disabled = true;
      document.getElementById("productSelectorClient").disabled = true;
      document.getElementById("amount").disabled = true;
    }else if(kindOperationSelector.value == "Nuevo fondo"){
      document.getElementById("productSelector").disabled = false;
      document.getElementById("amount").disabled = false;

      document.getElementById("contractRadio").disabled = true;
      document.getElementById("productRadio").disabled = true;
      document.getElementById("contractSelector").disabled = true;
      document.getElementById("productSelectorClient").disabled = true;
    }else{
      document.getElementById("productSelector").disabled = true;
      document.getElementById("amount").disabled = true;
      document.getElementById("contractRadio").disabled = true;
      document.getElementById("productRadio").disabled = true;
      document.getElementById("contractSelector").disabled = true;
      document.getElementById("productSelectorClient").disabled = true;
    }
  })
  var prodsList = <%-JSON.stringify(prodsList)%>;
  var productSelector = document.querySelector('#productSelector');
  productSelector.addEventListener('change',(event) => {
    var prodIndex = parseInt(document.getElementById("productSelector").value);
    document.getElementById("nomProd").innerText = prodsList[prodIndex].nombre;
    document.getElementById("descProd").innerText = prodsList[prodIndex].descripcion;
    document.getElementById("horInv").innerText = prodsList[prodIndex].horizonte;
    document.getElementById("riesgo").innerText = prodsList[prodIndex].riesgo;
    document.getElementById("rend").innerText = prodsList[prodIndex].rendimiento;
    //console.log(prodsList[document.getElementById("productSelector").value].nombre)
  })
  var clientId = "<%=clientData.id%>";
  var prodsListClient = <%-JSON.stringify(clientData.contratos)%>;
  var productSelectorClient = document.querySelector('#productSelectorClient')
  var psClientIndex = 0;
  productSelectorClient.addEventListener('change',(event) => {
    psClientIndex = parseInt(productSelectorClient.value);

    document.getElementById("amountTitles").max = prodsListClient[psClientIndex].Titulos;
  })

  var contractSelector = document.querySelector('#contractSelector')
  contractSelector.addEventListener('change',(event) => {
    psClientIndex = parseInt(contractSelector.value);
    document.getElementById("amountTitles").max = prodsListClient[psClientIndex].Titulos;
  })

  var contractRadio = document.querySelector('#contractRadio')
  var productRadio = document.querySelector('#productRadio')
  contractRadio.addEventListener('change',(event) => {
    if(selectElement.value == "Vender"){
      document.getElementById("amountTitles").disabled = false;
    }else{
      document.getElementById("amount").disabled = false;
    }
    if(contractRadio.checked == true){
      productRadio.checked = false;
      document.getElementById("productSelectorClient").disabled = true;
      document.getElementById("contractSelector").disabled = false;
    }
  })

  productRadio.addEventListener('change',(event) => {
    if(selectElement.value == "Vender"){
      document.getElementById("amountTitles").disabled = false;
    }else{
      document.getElementById("amount").disabled = false;
    }
    if(productRadio.checked == true){
      contractRadio.checked = false;
      document.getElementById("contractSelector").disabled = true;
      document.getElementById("productSelectorClient").disabled = false;
    }
  })

  var inputAmount = document.querySelector('#amount')
  inputAmount.addEventListener('change',(event) => {
    if(inputAmount.checkValidity()){
      document.getElementById("forwardB").disabled = false;
    }else{
      document.getElementById("forwardB").disabled = true;
    }

    if(selectElement.value == "Comprar" && kindOperationSelector.value == "Nuevo fondo"){
      document.getElementById("forwardB").setAttribute("onclick",'location.href="/confirmacion/Compra/'+ clientId + prodsList[document.getElementById("productSelector").value].id + '/' +document.getElementById("amount").value + '"');
    }else{
      document.getElementById("forwardB").setAttribute("onclick",'location.href="/confirmacion/Compra/'+ prodsListClient[psClientIndex].noContrato + '/' + document.getElementById("amount").value + '"')
    }
  })

  var inputAmountTitles = document.querySelector('#amountTitles');
  inputAmountTitles.addEventListener('change',(event) => {
    if(inputAmountTitles.checkValidity()){
      document.getElementById("forwardB").disabled = false;
    }else{
      document.getElementById("forwardB").disabled = true;
    }
    if(selectElement.value == "Vender"){
      document.getElementById("forwardB").setAttribute("onclick",'location.href="/confirmacion/Venta/' + prodsListClient[psClientIndex].noContrato + '/'+ document.getElementById("amountTitles").value + '"')
    }
  })


</script>
