<head>
  <meta charset="utf-8">
  <title>Confirma</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<div class="container">
  <h2>Paso 02: Revisa y confirma tu inversion</h2>
  <div class="card" style="width: 36rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Contrato de inversion: <%=contrato%></li>
    <li class="list-group-item">Importe: $ <%=importe%></li>
    <li class="list-group-item">Fondo de inversion: <%=prodData.nombre%></li>
    <li class="list-group-item">Tipo de operacion: <%=oper%></li>
    <li class="list-group-item" id="dateOper">Fecha de operacion: </li>
    <li class="list-group-item" id="liMessage"></li>

  </ul>
  </div>
  <div class="container">
    <button type="button" class="btn btn-secondary btn-lg">Regresar</button>
    <button type="button" class="btn btn-primary btn-lg" id="confirmBtn">Confirmar</button>
  </div>
</div>

<script type="text/javascript">
  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
  var yyyy = today.getFullYear();

  today = dd + '/' + mm + '/' + yyyy;
  document.getElementById("dateOper").innerText = "Fecha de operacion: " + today;
  console.log(today)

  var productPrice = parseFloat("<%=prodData.precio%>")
  var importe = parseFloat("<%=importe%>")
  if(importe < productPrice){
    document.getElementById("liMessage").innerText = "Tu inversion es menor al costo acutal del fondo."
    document.getElementById("confirmBtn").disabled = true;
  }


</script>
