<head>
  <meta charset="utf-8">
  <title>Movimientos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<div class="container">
  <h2>Detalles</h2>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Fondo</th>
        <th scope="col">Titulos</th>
        <th scope="col">Precio Actual</th>
        <th scope="col">Saldo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= contractData.nombreFondo %></td>
        <td><%= contractData.Titulos %></td>
        <td><%= prodsData.precio %></td>
        <td><%= contractData.Titulos*prodsData.precio %></td>
      </tr>
    </tbody>
  </table>
  <div class="card">
    <div class="container">
    <p class="card-text"><span>Fondos de inversion.</span> Alcanza tus metas comprando fondos de inversion BBVA.     <a href="/compraVenta/<%- clientId %>" + class="btn btn-primary">Comprar</a></p>
    </div>
  </div>
  <h2>Movimientos</h2>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Concepto</th>
      <th scope="col">Fondos</th>
      <th scope="col">Titulos</th>
      <th scope="col">Precio</th>
      <th scope="col">Saldo</th>
    </tr>
    </thead>
    <tbody id="move">
    <%for(var i=0; i<transactionsData.length; i++){%>
      <tr>
        <td><%=transactionsData[i].fecha%></td>
        <td><%=transactionsData[i].concepto%></td>
        <td><%=transactionsData[i].producto%></td>
        <td><%=transactionsData[i].titulos%></td>
        <td><%=transactionsData[i].precio%></td>
        <td><%=transactionsData[i].precio*transactionsData[i].titulos%></td>
      </tr>
    <%}%>
    </tbody>
  </table>
</div>
