<head>
  <meta charset="utf-8">
  <title>Confirma</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style media="screen">
    h3 {
      color : green
    }
  </style>
</head>

<div class="container">
  <h2>Paso 03: Resultado de tu inversion</h2>
  <h3>Operacion exitosa</h3>
  <div class="card" style="width: 36rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Contrato de inversion: 95700001</li>
    <li class="list-group-item">Importe de inversion: 1000 </li>
    <li class="list-group-item">Fondo de inversion: BMERLIQ </li>
    <li class="list-group-item">Tipo de operacion: Compra</li>
    <li class="list-group-item" id="dateOper">Fecha de operacion: 17/07/2020</li>

  </ul>
  </div>
  <div class="container">
    <button type="button" class="btn btn-secondary btn-lg" onclick='location.href="/index"'>Inicio</button>
  </div>
</div>

<script type="text/javascript">
  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
  var yyyy = today.getFullYear();

  today = dd + '/' + mm + '/' + yyyy;
  document.getElementById("dateOper").innerText = "Fecha de operacion: " + today;
  console.log(today)

</script>
